  <div class="people-component, insight-bordered-div">
    <div class="row-1">
      <p class="main-paragraph">Total people detected: {{ numPeopleDetected }}</p>
    </div>
    <div class="row-2">
      <div class="face-list">
        <img *ngFor="let face of detectedFaces"
              class="face"
              [class.selected]="face.isSelected"
              src="{{ face.imageUrl }}"
              (click)="selectFace(face)">
      </div>
    </div>
    <div class="row-3">
      <div class="left-column">
        <div class="selected-face" *ngIf="selectedFace!=null">
          <img src="{{ selectedFace?.imageUrl }}" class="selected-face-image">
        </div>
      </div>
      <div class="right-column">
        <div class="selected-face-text" *ngIf="selectedFace!=null">
          <p>{{ selectedFace?.name }}</p>
          <p>Appears in {{ selectedFace?.appearancePercentage }}% of video</p>
        </div>
      </div>
    </div>
    <div class="row-4">
      <div class="time-bar">
        <div class="notch" *ngFor="let notch of selectedFace?.notches"
              (click)="jumpToTime(notch.time)">
        </div>
      </div>
    </div>
  </div>