<div class="container">

  <as-split direction="horizontal" style="height: 90%;">
    <as-split-area [size]="50">
      <div class="left-column">
        <app-azure-video-panel />
        <app-video-details />
        <!-- <as-split direction="vertical">
          <as-split-area [size]="70">
            <app-azure-video-panel />
          </as-split-area>
          <as-split-area [size]="30">
            <app-video-details />
          </as-split-area>
        </as-split> -->
      </div>
    </as-split-area>
    <as-split-area [size]="50">
      <div class="right-column">
        <div class="tab-toolbar">
          <mat-tab-group mat-stretch-tabs="false">
            <mat-tab label="Insights">
              <app-insights-container />
            </mat-tab>
            <mat-tab label="Timeline">
              <app-transcriptions />
            </mat-tab>
          </mat-tab-group>
          <div class="toolbar-buttons">
            <button mat-icon-button>
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>language</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>