<!-- <div mat-dialog-content>
  <div class="row">
    <div class="group-box">
      <h3>Video File: {{videoDetails?.displayName }} </h3>
      <div class="column-pair">
        <div>
          <p>Created by</p>
          <p>{{videoDetails?.createdBy}}</p>
        </div>
        <div>
          <p>Created at</p>
          <p>{{ videoDetails?.createdAt }}</p>
        </div>
      </div>
      <div class="column-pair">
        <div>
          <p>Duration</p>
          <p>{{ videoDetails?.duration }}</p>
        </div>
        <div>
          <p>Size</p>
          <p>{{ videoDetails?.size }} bytes</p>
        </div>
      </div>
      <div class="column-pair">
        <div>
          <p>Resolution</p>
          <p>{{ videoDetails?.resolution }}</p>
        </div>
        <div>
          <p>Frame Rate (FPS)</p>
          <p>{{ videoDetails?.framerate }}</p>
        </div>
      </div>
      <div class="column-pair">
        <div>
          <p>Video type</p>
          <p>{{ videoDetails?.videoType }}</p>
        </div>
        <div>
          <p>Channel based</p>
          <p>{{ videoDetails?.channel }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div mat-dialog-content>
  <div class="row">
    <div class="group-box">
      <h3>Video File: {{ videoDetails?.displayName }} </h3>
      <div class="column-pair">
        <div>
          <p>Created by</p>
          <p>{{ videoDetails?.createdBy }}</p>
        </div>
        <div>
          <p>Created at</p>
          <p>{{ videoDetails?.createdAt }}</p>
        </div>
        <div>
          <p>Duration</p>
          <p>{{ videoDetails?.duration }}</p>
        </div>
        <div>
          <p>Size</p>
          <p>{{ videoDetails?.size }} bytes</p>
        </div>
      </div>
      <div class="column-pair">
        <div>
          <p>Resolution</p>
          <p>{{ videoDetails?.resolution }}</p>
        </div>
        <div>
          <p>Frame Rate (FPS)</p>
          <p>{{ videoDetails?.framerate }}</p>
        </div>
        <div>
          <p>Video type</p>
          <p>{{ videoDetails?.videoType }}</p>
        </div>
        <div>
          <p>Channel based</p>
          <p>{{ videoDetails?.channel }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
