<div class="insight-bordered-div">
    <p class="main-paragraph">10 labels</p>
    <mat-chip-listbox aria-label="Fish selection" style="margin-left: 15px;">
        <mat-chip-option>text</mat-chip-option>
        <mat-chip-option>suit</mat-chip-option>
        <mat-chip-option color="accent" selected>clothing</mat-chip-option>
        <mat-chip-option color="warn">person</mat-chip-option>
        <mat-chip-option>man</mat-chip-option>
        <mat-chip-option>human face</mat-chip-option>
        <mat-chip-option>tie</mat-chip-option>
        <mat-chip-option>smile</mat-chip-option>
        <mat-chip-option>sky</mat-chip-option>
        <mat-chip-option>flag</mat-chip-option>
    </mat-chip-listbox>
</div>