.main-panel-container {
    /* Your styling for the main panel container */
}

.card-list-container {
    /* Your styling for the card list container */
}

.clip-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    border: 1px solid #555;
  }

  /* mat-grid-list {
    background: lightblue;
  } */